*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

a{
    text-decoration: none;
        color: blue;

        &:hover {
            color: rebeccapurple;
        }
}

.profilePhoto{
    text-align: center;
    background-color: aquamarine;

    & img {
        padding: 7px;
    }
}

h1{
    text-align: center;
    margin: 17px 0px;
}

h2{
    background-color: aqua;
    text-align: center;
    padding: 15px;
}

.bio{
    font-size: 1.3rem;
}

/* tables styling */
.educationInfoTable, .langsTable{
    padding: 20px;
    margin: 7px 10%;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    & td,th {
        border: 2px solid rgb(131, 41, 41);
    }
}

.projects, .langs, .gitHub_profile_section, .certifications, .educationInfo, .contactInfo{
    font-size: 1.3rem;
    margin: 7px 0px;
}

.projects_links, .gitHub_profile, .certifications_all, .contacts, .aboutMe{
    padding: 12px;
    margin-left: 2rem;
}

.ending{
    margin: 64px;
    text-align: center;
}

.footer {
    background-color: black;
    padding: 35px;
    color: wheat;
    text-align: center;

    & p {
        margin-bottom: 5px;
    }

    & a {
        text-decoration: none;
        color: yellowgreen;


        &:hover {
            color: aquamarine;
            background-color: inherit;

        }
    }
}